 body {
            font-family: Arial;
            margin: 0;
            padding: 0;
            background-image: url("https://cdna.artstation.com/p/assets/images/images/024/283/400/large/xi-zhang-asset.jpg?1581927994");
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
			background-position: center;
        }
		.container {
			max-width: 800px;
			margin: 0 auto;
			padding: 20px;
			background-color: rgba(255, 255, 255, 0.3);
			box-shadow: 0 0 10px;
			border-radius: 10px;
        }
        h1 {
            font-size: 36px;
            text-align: center;
            margin-top: 20px;
        }
        form {
            margin: 20px 0;
        }
        label {
            display: block;
            font-weight: bold;
        }
        input[type="text"],
        input[type="password"],
        input[type="email"],
        textarea {
            width: 100%;
			border-radius: 5px;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px;
        }
        input[type="submit"],
        input[type="reset"] {
            background-color: #2a2b2b;
            color: #f7faf8;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
        }
        input[type="submit"]:hover,
        input[type="reset"]:hover {
            background-color: #515753;
        }